/* for styling part https://www.youtube.com/watch?v=K_64Xmm3OcA, i followed this tutorial */
/* https://thebrandsmen.com/css-image-hover-effects/ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
  position: fixed;
  top:0;
}

.about{
    width: 100%;
    margin-top: 7%;
    padding: 78px 0px;
}

.about img{
    height: auto;
    width: 450px;
}

.about-text{
    width: 50%;
}
 .main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

 .logo img{
   /* background: url(logo.png)no-repeat; no repeat-image shown only once */
   max-width: 220px;
   max-height: 100px;
   background-size: contain;
   margin:  -5px 55px 45px -75px ;
   position: absolute;
   /* text-indent: -99999px; */
}

 .about-text h2{
    font-size: 2rem;
    text-transform: capitalize;
    margin-left: -0.5%;
    margin-top: -5%;
 }

 .about-text p{
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
 }

 .event{
  margin-top: 5%;
 }

.event img{
  margin-left: 50%;
  height: auto;
  width: 40%;
}

.event-text h2{
  font-size: 2rem;
    text-transform: capitalize;
    /* margin-left: -0.5%;
    margin-top: -15%; */
}

.event-text p{
  letter-spacing: 1px;
  width: 35%;
  line-height: 28px;
  /* margin-bottom: 45px;
  margin-top: -15%; */
}

.event-text{
  margin-top: -16%;
  margin-bottom: 20%;
  margin-left: 13%;
}

.about img{
  transition: 1s ease;
}

.about img:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}

.event img{
  transition: 1s ease;
}

.event img:hover{
-webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 1s ease;
}
 .wrapper {
   margin:0 auto;
   min-width: 60%;
   max-width: 648px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
   background-color: #fff;
 }

 /* content */
 .content-contact{
   text-align: center;
   background-color: #fff;
 }
 
 .content-contact h2 {
   letter-spacing: 1px;
   text-decoration: underline;
   text-underline-position: under;
 }
 
 
 /* form */
 .form {
   width: 80%;
   margin: 25px 0;
 }
 
 .top-form,
 .middle-form,
 .bottom-form {
   width: 100%;
   min-height: 65px;
   margin: 10px 0;
 }
 
 .form input[type="text"],
 .form textarea {
   border: 1px solid #515151;
   padding: 10px 5px;
   outline: none;
   border-radius: 6px;
   width: 100%;
   transition: all 0.2s ease;
 }
 
 .form input:focus,
 .form textarea:focus {
   border-color: #FE036A;
   outline: none;
   box-shadow: inset 0 1px 1px #FE036A,
     0 0 8px #FE036A;
 }
 
 .form .label {
   margin-bottom: 5px;
   text-transform: capitalize;
 }
 
 /* top-contact */
 .top-form .inner-form {
   width: 29.9%;
   float: left;
   margin-right: 5%;
 }
 
 .top-form .inner-form:last-child {
   margin-right: 0;
 }
 
 
 /* middle-form */
 .middle-form {
   clear: both;
 }

 .bottom-form{
   margin-bottom: 25px;
 }
 
 ::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   font-family: "Poppins", sans-serif;
 }
 ::-moz-placeholder {
   /* Firefox 19+ */
   font-family: "Poppins", sans-serif;
 }
 :-ms-input-placeholder {
   /* IE 10+ */
   font-family: "Poppins", sans-serif;
 }
 
 @media screen and (max-width: 900px) {

   .top-form .inner-form {
     width: 100%;
     margin: 5px 0;
   }
   .top-form,
   .middle-form,
   .bottom-form {
     margin: 5px 0;
   }
   .form {
     margin-top: 10px;
   }
 }



 /* for button and hovering, https://www.sliderrevolution.com/resources/css-button-hover-effects/
 button{
    background: transparent;
    color: #313131;
    text-decoration: none;
    border: 3px solid #FE036A;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
 }

 button:hover{
    background: #FE036A;
    color: #fff;
    text-decoration: none;
 } */