@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    font-size: 112.5%; /* 16 px */
}

body{
    font-family: 'Poppins', sans-serif;
    color: #515151;
    background-color: #fbe9dd;
}

.container{
    width: 100%;
    margin: 40px auto;
}

.title, h1, h2, h3, h4, p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #313131;
}

.user h4{
    color: #313131;
    font-size: 40px;
    margin-left: 11%;
    text-transform: capitalize;
}

.user p{
    color: #313131;
    font-size: 18px;
    margin-left: 10%;
    text-transform: none;
}

.user img{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
}

.direction h4{
    color: #313131;
    font-size: 40px;
    margin-left: 10%;
    text-transform: capitalize;
}

.direction p{
    color: #313131;
    font-size: 18px;
    margin-left: 10%;
    text-transform: none;
}

.direction img{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
}

.logovar h4{
    color: #313131;
    font-size: 40px;
    margin-left: 10%;
    text-transform: capitalize;
}

.logovar p{
    color: #313131;
    font-size: 18px;
    margin-left: 10%;
    text-transform: none;
}

.logovar img{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
}

.style h4{
    color: #313131;
    font-size: 40px;
    margin-left: 10%;
    text-transform: capitalize;
}

.style p{
    color: #313131;
    font-size: 18px;
    margin-left: 10%;
    max-width: 1200px;
    text-transform: none;
}

.style img{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
}

.type h4{
    color: #313131;
    font-size: 40px;
    margin-left: 10%;
    text-transform: capitalize;
}

.type p{
    color: #313131;
    font-size: 18px;
    margin-left: 10%;
    max-width: 1200px;
    text-transform: none;
}

.type img{
    margin-top: 50px;
    margin-left: 10%;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px) {

    
}