/* Import fonts here */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

/* BASE ROOT */

html{
    font-size: 112.5%; /* 16 px */
}

.white{
	background-color: white;
	border:1px solid #CCC;
	color: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #515151;
    background-color: #fbe9dd;
}

/* section{
    padding: 2rem 9%;
} */

.container{
    width: 100%;
    margin: 40px auto;
}

/* .title, h1, h2, h3, h4, p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #313131;
}

.title{
    font-size: 5.063em;
    font-weight: 700;
} */

/* h1{
    font-size: 3.75em;
    line-height: 1.25em;
}

h2{
    font-size: 2.25em;
    font-weight: 600;
    line-height: 1em;
    text-transform: capitalize;
    margin-top: 20px;
    display: inline;
    border-bottom: solid 4px #313131;
    padding-bottom: 10px;
}

h3{
    font-size: 1.5em;
    text-transform: capitalize;
}

h4{
    font-size: 444em;
    text-transform: uppercase;
}

p{
    font-size: 1em;
    line-height: 1.55em;
    margin: 30px 0 15px 0;

} */

/* HEADER */
#header-wrapper{
    display: block;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 3;
}

header{
    width: 80%;
    margin: 0 auto;
}

#logo, span, nav{
    text-transform: uppercase;
}

.logo img{
    max-width: 220px;
    max-height: 100px;
    background-size: contain;
    margin:  -5px 55px 45px -75px ;
    position: absolute;
}


/* Navigation */
.navbar ul{
    overflow: auto;
    text-align: right;
}

.navbar li{
    display: inline-block;
    list-style: none;
    margin: 18px 20px;
}

.navbar li a{
    text-decoration: none;
    color: #313131;
    display: block;
    padding: 3px 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* hover effect was adopted from this source, https://css-tricks.com/css-link-hover-effects/ */
.navbar a {
    color: #313131;
    position: relative;
    text-decoration: none;
  }

.navbar a::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #313131;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;      
}

.navbar a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

.product-list{
    background-color: #fbe9dd;
}

.home{
    width: 100%;
    padding: 78px 0px;
}

.home img{
    height: auto;
    width: 650px;
}

.content{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }

.home-text{
    width: 780;
    margin-top: -450px;
    margin-left: 600px;
    text-align: left;
}
 

 .home-text h1{
    font-size: 60px;
    width: 750px;
    text-transform: capitalize;
    margin-bottom: auto;
 }

 .home-text p{
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 45px;
 }

 /* for button and hovering, https://www.sliderrevolution.com/resources/css-button-hover-effects/ */
 button{
    background: transparent;
    color: #313131;
    text-decoration: none;
    border: 3px solid #FE036A;
    font-size: 18px;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
 }

 button:hover{
    background: #FE036A;
    color: #fff;
    text-decoration: none;
 }



.home .image img{
    animation: float 3s linear infinite;
}

.violet{
    margin-top: 15%;
    
}
.container-footer-1600{
	display:block;
	margin:0 auto;
	width: clamp(20rem,80%,100rem);
}

.footer-grid-wrapper h5{
	font-family: 'poppins', sans-serif;
	margin:0;
	font-size:1rem;
}

.footer-grid-wrapper{
	color: #313131;
	display:grid;
	grid-template-rows:3fr 1fr;
}

.footer-copyright-wrapper{
	text-align:center;
	grid-row:2;
	display:flex;
	align-items: center;
	justify-content: center;
	width:100%;
}

.footer-copyright-wrapper p{
	font-size:.75rem;
	width:clamp(45ch,50%,75ch);
}

.footer-list-wrapper{
	grid-row:1;
	display:flex;
	align-items: baseline;
	justify-content: space-between;
	width:100%;

	font-family:'poppins', sans-serif;
	font-weight:lighter;
}

.footer-list-wrapper a:hover{
	text-decoration:underline;
}

.footer-icons-wrapper a:hover{
	text-decoration:none;
}

.footer-grid-wrapper ul{
	list-style-type:none;
	margin:1rem 0;
	padding:0;
}

.footer-instagram-link{
	display:flex;
	align-content: center;
	align-items: center;
}

.footer-instagram-link img{
    width: 20px;
    height: 20px;

}

.mochi-logo {
    width: 170px;
    height: 70px;
    margin-left: -14%;
}



.footer-icons-wrapper p{
	display:inline;
	font-family:"poppins", sans-serif;
	margin-left:10px;
}

.footer-list-wrapper a{
	color: #313131;
	text-decoration:none;
}
.footer-icons-wrapper, .footer-location-wrapper, .footer-hours-wrapper, .footer-contact-wrapper, .footer-help-wrapper{
	display:flex;
	flex-direction: column;
}


.footer-days-wrapper-mobile, .footer-hours-wrapper-mobile{
	display:none;
}

.footer-list-wrapper > .divider-line{
	background-color: #313131;
	display:none;
	width: 100%;
}

li{
	margin-bottom: .4rem;
}

ul{
	margin-bottom: 1rem;
}

.value-proposition-section white{
    background-color: #fff;

}

.value-proposition-section .main-grid-container{
	padding-top: 0;
}

.value-proposition-section h2{
	font-size:2rem;
}

.value-proposition-section{
	grid-column:1/span 12;
	padding:12rem 0;
    margin-top: 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.donut-grid-wrapper{
	grid-column:1/span 6;
	padding:1rem;
	margin:auto;
	display: flex;
	flex-direction: column;
}

.donut-grid-wrapper img{
    margin-left: 50%;
	width:40%;
    align-items: center;
}

.value-proposition-cta-wrapper{
	grid-column:7/span 6;
	padding:4rem;
   
	display:flex;
	flex-direction: column;
	justify-content: center;
}

.value-proposition-cta-wrapper h1{
    font-size: 36px;
    font-weight: 200;
     margin-top: -50%;
}

.value-proposition-cta-wrapper h2{
	margin-bottom: 0;
}

.value-proposition-cta-wrapper p{
	width:clamp(45ch, 100%, 75ch);
}

.value-proposition-cta-wrapper a{
	align-self: flex-start;
}

.value-proposition-cta-wrapper button{
    margin-top: 20%;
}

@keyframes float{
    0%, 100%{
        transform: translateX(0rem);
    }
    50%{
        transform: translateY(3rem); 
    }
}

/* Media Queries */

@media screen and (max-width: 480px) {


}